:host {
  --md-list-container-color: #c4dcf4; /* #c4dcf4 */
  --md-list-item-label-text-color: #252727;
  --md-sys-color-primary: #004793;
  min-width: 50%;
}

h1 {
  font-size: 1.8em;
  font-weight: semi-bold;
}

md-list {
  padding: 0px;
  background-color: #ffffff;
  /* gap: 0.3em; */
}

md-list-item {
  cursor: pointer;
  margin-bottom: 0.3em;
  border-radius: 6px;
  /* background-color: #c4dcf4; */
  background-color: #e9f4ff;
  border: 1px solid #c4dcf4;
}

md-list-item:hover {
  background-color: #e7f7f7;
  border-radius: 6px;
}

.error-msg {
  text-align: center;
}

.progress-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}