:host {
  display: block;
  --md-list-container-color: #c4dcf4;
  --md-list-item-label-text-color: #252727;
  min-width: 50%;
}

h1 {
  font-size: 1.8em;
  font-weight: semi-bold;
}

md-list {
  border-radius: 6px;
  padding: 0px;
}

md-list-item {
  cursor: pointer;
}

md-list-item:hover {
  background-color: #e7f7f7;
  border-radius: 2px;
}

/* .editor-container {
  max-width: 80%;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
} */

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.button-container { 
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  gap: 0.2em;
  /* top: 0; */
  position: fixed;
  bottom: 0;
  margin-bottom: 2em;
  right: 5%;
  /* left: 0; */
}

.back-button {
  margin-top: 1em;
  align-self: flex-end;
  --md-filled-tonal-button-container-color: #91c8ff;
  width: 100%;
}

.add-button-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  /* gap: 0.5em; */
}

.add-request-button {
  margin-top: 1em;
  align-self: flex-end;
  --md-filled-tonal-button-container-color: #91c8ff;
}

.add-button {
  margin-top: 1em;
  align-self: flex-end;
  --md-filled-tonal-button-container-color: #94f7b3;
}

/* .add-button .icon {
  color: #ffff
} */