:host {
  display: block;
  --md-list-container-color: #c4dcf4;
  --md-list-item-label-text-color: #252727;
  min-width: 50%;
}

h1 {
  font-size: 1.8em;
  font-weight: semi-bold;
}

md-list {
  border-radius: 6px;
  padding: 0px;
}

md-list-item {
  cursor: pointer;
}

md-list-item:hover {
  background-color: #e7f7f7;
  border-radius: 2px;
}

.container {
  display: flex;
  flex-direction: column;
}

.back-button {
  margin-top: 1em;
  align-self: flex-end;
  --md-filled-tonal-button-container-color: #5aabfc;
  /* --md-filled-tonal-button-label-text-color: #ffff; */
  --md-hover-label-text-color: #ffff;
}

.icon {
  /* color: #ffff */
}